.index {
  .kategory {
    .kategori {
      h3 {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.24px;
      }
      button {
        padding: 10px 12px;
        background: transparent;
        color: #4f4f4f;
        border: 1px solid #c3c3c3;
        cursor: pointer;

        &:hover {
          color: #4f4f4f;
          background: transparent;
          border: 1px solid #c3c3c3;
        }
      }
    }

    .periode {
      h5 {
        font-size: 15px;
        line-heght: 110%;
        letter-spacing: -0.24px;
        color: #4f4f4f;

        &:hover {
          font-weight: bold;
          color: black;
        }
      }
    }

    .ppdb-card {
      .containernya {
        padding: 20px 15px 0 15px;

        .content {
          flex-direction: column;
          justify-content: center;
          gap: 20px;

          .kiri {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
              font-size: 12px;
            }

            h3 {
              line-height: 120%;
              letter-spacing: -0.24px;
              font-size: 25px;
            }

            button {
              width: fit-content;
              border: none;
              outline: none;
              letter-spacing: 140%;
              font-size: 12px;
              background: #feb700;
              font-weight: semibold;
              padding: 10px 12px;
              cursor: pointer;
            }
          }
          img {
            display: flex;
            max-width: 250px;
          }
        }
      }
    }
  }

  .list-berita-lainnya {
    h3 {
      font-size: 35px;
      line-height: 120%;
      letter-spacing: -0.24px;
    }

    .agendaa {
      border-bottom: 1px solid #c3c3c3;
      h5 {
        color: #861fc1;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: -0.24px;
      }

      h3 {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }

      .ket {
        p {
          font-size: 12px;
          color: #272727;
          line-height: 18px;
          letter-spacing: -0.24px;
        }

        .circle {
          width: 4px;
          height: 4px;
          background: black;
          margin-top: 8px;
        }
      }

      img {
        object-fit: cover;
      }
    }

    .page-indicator {
      button {
        background: transparent;
        border: none;
        color: black;
        opacity: 0.5;

        &:focus {
          outline: none;
          background: transparent;
        }

        &:hover {
          opacity: 1;
          background: transparent;
        }
      }

      .page-number {
        width: 30px;
        height: 30px;
        font-size: 15px;
        color: #3f3f46;
        background: transparent;

        &:hover {
          color: white;
          background: black;
        }
      }
    }
  }
}
