/* PHONE  */
@media (max-width: 425px) {
  .agenda {
    background: #210034;
    width: 100vw;
    height: fit-content;
    padding: 60px 20px;

    .row {
      gap: 60px;
      .kiri {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        /* padding-left: 20px;
        padding-right: 20px; */

        .atas {
          width: 100%;

          h3 {
            font-size: 17px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          h1 {
            font-size: 27px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }
        }

        .bawah {
          p {
            font-size: 15px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          img {
            padding: 0;
            height: 20px;
          }
        }
      }

      .kanan {
        color: white;
        text-align: end;
        width: 100%;

        .slider-desc-wrapper {
          .baris1 {
            display: flex;
            justify-content: end;
            align-items: end;
            height: 50px;

            .tittle {
              display: flex;
            }

            .program {
              width: fit-content;
              white-space: nowrap;
            }

            .title {
              width: fit-content;
            }

            h3 {
              font-size: 17px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }

          .baris2 {
            font-size: 15px;
            line-height: 160%;
            letter-spacing: -0.24px;
            justify-content: end;

            .circle {
              height: 5px;
              width: 5px;
              background: #d9d9d9;
              margin-top: 10px;
              padding: 0;
              display: flex;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: 15px;
              line-height: 140%;
              letter-spacing: -0.24px;
            }
          }

          .place {
            img {
              width: 15px;
            }

            p {
              font-size: 15px;
              line-height: 140%;
              letter-spacing: -0.24px;
            }
          }
        }

        .desc-content {
        }
      }
    }

    .slider-wrapper-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      text-align: end;
      overflow-x: hidden;
      padding-left: 10px;
      padding-right: 0;
      height: 200px;
      max-height: 200px;

      .image-list {
        display: flex;
        font-size: 0;
        overflow-x: auto;
        width: 100%;
        height: 100%;

        &::-webkit-scrollbar {
          display: none;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0; /* Awalnya tidak terlihat */
          transition: opacity 0.3s ease;

          button {
            padding: 12px 15px;
            height: fit-content;
            background: #ece9ea;
            color: #2e2e2e;
            line-height: 140%;
            font-size: 15px;
            margin: 0;

            img {
              width: 20px;
            }
          }
        }

        &:hover .overlay {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .indicator-nav {
      display: flex;
      align-items: center;
      margin-top: 15px;
      gap: 10px;
      text-align: start;
      transition: all 0.2s ease-out;

      .no-active {
        width: 5px;
        height: 7px;
        background-color: #ffffff;
        opacity: 0.5;
        border: 0;
        cursor: pointer;
        transition: width 0.3s ease, height 0.3s ease;
      }
      .active {
        width: 35px;
        height: 7px;
        border-radius: 20px;
        background-color: #feb700;
        border: 0;
        transition: width 0.3s ease, height 0.3s ease;
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .agenda {
    background: #210034;
    width: 100vw;
    height: fit-content;
    padding: 60px 40px;

    .row {
      gap: 20px;
      .kiri {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;

        .atas {
          width: 100%;

          h3 {
            font-size: 19px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          h1 {
            font-size: 25px;
            line-height: 140%;
            letter-spacing: -0.24px;
          }
        }

        .bawah {
          p {
            font-size: 15px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          img {
            padding: 0;
            height: 20px;
          }
        }
      }

      .kanan {
        color: white;
        text-align: end;
        width: 100%;

        .slider-desc-wrapper {
          .baris1 {
            display: flex;
            justify-content: end;
            align-items: end;
            height: 50px;

            .tittle {
              display: flex;
            }

            .program {
              width: fit-content;
              white-space: nowrap;
            }

            .title {
              width: fit-content;
            }

            h3 {
              font-size: 20px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }

          .baris2 {
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.24px;

            justify-content: end;

            .circle {
              height: 5px;
              width: 5px;
              background: #d9d9d9;
              margin-top: 10px;
              padding: 0;
              display: flex;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: 18px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }

          .place {
            img {
              width: 15px;
            }

            p {
              font-size: 15px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }
        }

        .desc-content {
          margin-top: 120px;
        }
      }
    }

    .slider-wrapper-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      text-align: end;
      overflow-x: hidden;
      padding-left: 10px;
      padding-right: 0;
      height: 250px;
      max-height: 250px;

      .image-list {
        display: flex;
        font-size: 0;
        overflow-x: auto;
        width: 100%;
        height: 100%;

        &::-webkit-scrollbar {
          display: none;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0; /* Awalnya tidak terlihat */
          transition: opacity 0.3s ease;

          button {
            padding: 12px 15px;
            height: fit-content;
            background: #ece9ea;
            color: #2e2e2e;
            line-height: 140%;
            font-size: 15px;
            margin: 0;

            img {
              width: 20px;
            }
          }
        }

        &:hover .overlay {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .indicator-nav {
      display: flex;
      align-items: center;
      margin-top: 15px;
      gap: 10px;
      text-align: start;
      transition: all 0.2s ease-out;

      .no-active {
        width: 5px;
        height: 10px;
        background-color: #ffffff;
        opacity: 0.5;
        border: 0;
        cursor: pointer;
        transition: width 0.3s ease, height 0.3s ease;
      }
      .active {
        width: 35px;
        height: 10px;
        border-radius: 20px;
        background-color: #feb700;
        border: 0;
        transition: width 0.3s ease, height 0.3s ease;
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .agenda {
    background: #210034;
    width: 100vw;
    height: fit-content;
    padding: 80px 60px;

    .row {
      .kiri {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;

        .atas {
          width: 100%;

          h3 {
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          h1 {
            font-size: 30px;
            line-height: 140%;
            letter-spacing: -0.24px;
          }
        }

        .bawah {
          p {
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          img {
            padding: 0;
            height: 20px;
          }
        }
      }

      .kanan {
        color: white;
        text-align: end;
        width: 100%;

        .slider-desc-wrapper {
          .baris1 {
            display: flex;
            justify-content: end;
            align-items: end;
            height: 50px;

            .tittle {
              display: flex;
            }

            .program {
              width: fit-content;
              white-space: nowrap;
            }

            .title {
              width: fit-content;
            }

            h3 {
              font-size: 25px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }

          .baris2 {
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.24px;
            justify-content: end;

            .circle {
              height: 5px;
              width: 5px;
              background: #d9d9d9;
              margin-top: 10px;
              padding: 0;
              display: flex;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: 18px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }

          .place {
            img {
              width: 15px;
            }

            p {
              font-size: 15px;
              line-height: 120%;
              letter-spacing: -0.24px;
            }
          }
        }

        .desc-content {
          margin-top: 150px;
        }
      }
    }

    .slider-wrapper-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      text-align: end;
      overflow-x: hidden;
      padding-left: 100px;
      padding-right: 0;
      height: 250px;
      max-height: 250px;

      .image-list {
        display: flex;
        font-size: 0;
        overflow-x: auto;
        width: 100%;
        height: 100%;

        &::-webkit-scrollbar {
          display: none;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0; /* Awalnya tidak terlihat */
          transition: opacity 0.3s ease;

          button {
            padding: 12px 15px;
            height: fit-content;
            background: #ece9ea;
            color: #2e2e2e;
            line-height: 140%;
            font-size: 18px;
            margin: 0;

            img {
              width: 20px;
            }
          }
        }

        &:hover .overlay {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .indicator-nav {
      display: flex;
      align-items: center;
      margin-top: 15px;
      gap: 10px;
      text-align: start;
      transition: all 0.2s ease-out;

      .no-active {
        width: 5px;
        height: 10px;
        background-color: #ffffff;
        opacity: 0.5;
        border: 0;
        cursor: pointer;
        transition: width 0.3s ease, height 0.3s ease;
      }
      .active {
        width: 35px;
        height: 10px;
        border-radius: 20px;
        background-color: #feb700;
        border: 0;
        transition: width 0.3s ease, height 0.3s ease;
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}

.judul-transisi {
  height: 50px;
  transition: transform 0.5s ease;
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}

.slide-down {
  transform: translateY(100%);
}
