.ekstra {

  .card-ekstra {
  }
}

.ekstra1 {
  animation: scroll 9s infinite linear;
  &:hover {
    animation-play-state: paused;
  }

}

.ekstra2 {
  animation: scroll 10s infinite linear;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}