/* PHONE  */
@media (max-width: 425px) {
  .footer {
    padding: 60px 20px;
    height: fit-content;
    background: #f8f8f8;

    .row {
      gap: 15px;

      .kiri {
        .logo {
          .kiri {
            width: 50px;
          }
        }

        .jalan {
          line-height: 140%;
          letter-spacing: -0.24px;
          font-size: 15px;
        }

        h5 {
          line-height: 140%;
          letter-spacing: -0.24px;
          font-size: 15px;
          font-weight: bold;
        }

        .infor {
          line-height: 18px;
          letter-spacing: -0.24px;
          font-size: 15px;
          font-weight: normal;
        }
      }

      .tengah {
        flex-direction: column;

        .kiri {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .atas {
            p {
              line-height: 160%;
              letter-spacing: -0.24px;
              font-size: 15px;
              font-weight: bold;
              white-space: nowrap;
            }
          }

          .bawah {
            margin-top: 10px;
            p {
              font-size: 15px;
            }

            .sosmed-akun {
              border: 1px solid black;
              width: fit-content;
              height: fit-content;

              img {
                min-width: 15px;
                min-height: 15px;
              }
            }
          }
        }

        .kanan {
          margin-top: 25px;
          img {
            width: 285px;
            max-width: 285px;
            /* max-width: 200px; */
            object-fit: cover;
          }
        }
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .footer {
    padding: 60px 40px;
    height: fit-content;
    background: #f8f8f8;

    .row {
      gap: 80px;

      .kiri {
        .jalan {
          line-height: 140%;
          letter-spacing: -0.24px;
          font-size: 15px;
        }

        h5 {
          line-height: 140%;
          letter-spacing: -0.24px;
          font-size: 15px;
          font-weight: bold;
        }

        .infor {
          line-height: 18px;
          letter-spacing: -0.24px;
          font-size: 15px;
          font-weight: normal;
        }
      }

      .tengah {
        .kiri {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .atas {
            p {
              line-height: 160%;
              letter-spacing: -0.24px;
              font-size: 15px;
              font-weight: bold;
              white-space: nowrap;
            }
          }

          .bawah {
            p {
            }

            .sosmed-akun {
              border: 1px solid black;
              width: fit-content;
              height: fit-content;

              img {
                min-width: 15px;
                min-height: 15px;
              }
            }
          }
        }

        .kanan {
          img {
            max-width: 500px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .footer {
    padding: 60px 60px;
    height: fit-content;
    background: #f8f8f8;

    .row {
      gap: 80px;

      .kiri {
        .jalan {
          line-height: 140%;
          letter-spacing: -0.24px;
          font-size: 15px;
        }

        h5 {
          line-height: 140%;
          letter-spacing: -0.24px;
          font-size: 15px;
          font-weight: bold;
        }

        .infor {
          line-height: 18px;
          letter-spacing: -0.24px;
          font-size: 15px;
          font-weight: normal;
        }
      }

      .tengah {
        .kiri {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .atas {
            p {
              line-height: 160%;
              letter-spacing: -0.24px;
              font-size: 15px;
              font-weight: bold;
              white-space: nowrap;
            }
          }

          .bawah {
            p {
            }

            .sosmed-akun {
              border: 1px solid black;
              width: fit-content;
              height: fit-content;

              img {
                min-width: 15px;
                min-height: 15px;
              }
            }
          }
        }

        .kanan {
          img {
            max-width: 500px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

