/* PHONE  */
@media (max-width: 425px) {
  .jurnalistik {

    h3 {
      font-size: 17px;
      line-height: 120%;
      letter-spacing: -0.24px;
    }

      .card-container {
        padding: 0;

        img {
          margin-bottom: 10px;
        }

        .date {
          font-size: 10px;
          line-height: 140%;
          letter-spacing: -0.24px;
          margin-bottom: 5px;
        }

        .title {
          font-size: 13px;
          line-height: 120%;
          letter-spacing: -0.24px;
        }
      }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }
      img {
        width: 12px;
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .jurnalistik {

    h3 {
      font-size: 17px;
      line-height: 120%;
      letter-spacing: -0.24px;
    }

      .card-container {
        padding: 0;

        img {
          margin-bottom: 10px;
        }

        .date {
          font-size: 10px;
          line-height: 140%;
          letter-spacing: -0.24px;
          margin-bottom: 5px;
        }

        .title {
          font-size: 13px;
          line-height: 120%;
          letter-spacing: -0.24px;
        }
      }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }
      img {
        width: 12px;
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .jurnalistik {

    h3 {
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.24px;
    }

      .card-container {
        padding: 0;

        img {
          margin-bottom: 10px;
        }

        .date {
          font-size: 15px;
          line-height: 140%;
          letter-spacing: -0.24px;
          margin-bottom: 5px;
        }

        .title {
          font-size: 17px;
          line-height: 120%;
          letter-spacing: -0.24px;
        }
      }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }
      img {
        width: 23px;
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}
