/* PHONE  */
@media (max-width: 425px) {
  .jurnalistik {
    padding: 0px 20px 50px 20px;

    h5 {
      line-height: 36px;
      letter-spacing: -0.24px;
    }

    .card-wrapper {
      flex-wrap: wrap;

      .card-container {
        padding: 0;

        img {
          margin-bottom: 10px;
        }

        .date {
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.24px;
        }

        .title {
          font-size: 13px;
          line-height: 120%;
          letter-spacing: -0.24px;
        }
      }
    }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 18px;
      }
      img {
        /* width: 15px; */
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .jurnalistik {
    padding: 30px 40px 50px 40px;

    h5 {
      lineheight: 36px;
      letterspacing: -0.24px;
    }

    .card-wrapper {
      gap: 0;
      flex-wrap: wrap;

      .card-container {
        marginbottom: 10px;
      }

      .date {
        marginbottom: 10px;
        fontsize: 12px;
        lineheight: 16px;
        letterspacing: -0.24px;
      }

      .title {
        fontsize: 13px;
        lineheight: 120%;
        letterspacing: -0.24px;
      }
    }
  }

  .lainnya {
    p {
      color: #091e6f;
      fontsize: 18px;
    }
    img {
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
    .jurnalistik {
        padding: 30px 40px 50px 40px;
    
        h5 {
          lineheight: 36px;
          letterspacing: -0.24px;
        }
    
        .card-wrapper {
          gap: 0;
          flex-wrap: wrap;
    
          .card-container {
            marginbottom: 10px;
          }
    
          .date {
            marginbottom: 10px;
            fontsize: 12px;
            lineheight: 16px;
            letterspacing: -0.24px;
          }
    
          .title {
            fontsize: 13px;
            lineheight: 120%;
            letterspacing: -0.24px;
          }
        }
      }
    
      .lainnya {
        p {
          color: #091e6f;
          fontsize: 18px;
        }
        img {
        }
      }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}
