/* PHONE  */
@media (max-width: 425px) {
  .kabar {
    width: 100vw;
    /* height: 100vh; */
    padding: 30px 20px 50px 20px;

    .nav-container {
      display: flex;
      flex-wrap: wrap;

      .menu {
        ul {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          gap: 10px;
          font-size: 14px;

          li {
            margin: 0;
            padding: 0;

            &:hover {
              color: #091e6f;
              text-decoration: underline;
              font-weight: bold;
            }
          }
        }
      }

      .lainnya {
        margin-bottom: 40px;
        font-size: 14px;
        align-items: center;
        img {
          width: 25px;
        }
      }
    }

    .content {
      .img-container {
        overflow: hidden;
        display: inline-block;

        img {
          background-size: cover;
          transition: all 1.1s;
        }
        &:hover img {
          transform: scale(1.2);
        }
      }
      .ket {
        margin-bottom: 5px;
        p {
          font-size: 12px;
          font-weight: normal;
        }
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .card-kabar-container {
    height: 300px;
  }
  .card-kabar {
    overflow: auto;
    .image {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &:hover .overlay {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }

    .desc {
      .ket {
        p {
          font-size: 9px;
        }
      }
      h4 {
        font-size: 12px;
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .kabar {
    width: 100vw;
    /* height: 100vh; */
    padding: 30px 30px 0px 30px;

    .nav-container {
      display: flex;
      justify-content: space-between;

      .menu {
        ul {
          padding: 0;
          display: flex;
          list-style: none;
          gap: 20px;
          font-size: 15px;

          li {
            margin: 0;
            padding: 0;

            &:hover {
              color: #091e6f;
              text-decoration: underline;
              font-weight: bold;
            }
          }
        }
      }

      .lainnya {
        align-items: center;
        font-size: 15px;
        img {
          width: 25px;
        }
      }
    }

    .content {
      .img-container {
        overflow: hidden;
        display: inline-block;

        img {
          background-size: cover;
          transition: all 1.1s;
        }
        &:hover img {
          transform: scale(1.2);
        }
      }

      .ket {
        p {
          font-size: 12px;
        }
      }

      h2 {
        font-size: 20px;
      }
    }
    .card-kabar-container {
      height: 350px;
    }
    .card-kabar {
      .image {
        position: relative;

        img {
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover .overlay {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }

      .desc {
        .ket {
          p {
            font-size: 8px;
            white-space: nowrap;
          }
        }
        h4 {
          font-size: 13px;
        }
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .kabar {
    width: 100vw;
    /* height: 100vh; */
    padding: 30px 60px 0px 60px;

    .nav-container {
      display: flex;
      justify-content: space-between;

      .menu {
        ul {
          padding: 0;
          display: flex;
          list-style: none;
          gap: 20px;

          li {
            margin: 0;
            padding: 0;
          }
        }
      }

      .lainnya {
        align-items: center;
        img {
        }
      }
    }

    .content {
      .img-container {
        overflow: hidden;
        display: inline-block;

        img {
          background-size: cover;
          transition: all 1.1s;
        }
        &:hover img {
          transform: scale(1.2);
        }
      }
    }
    .card-kabar {
      .image {
        position: relative;

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        &:hover .overlay {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}
