.kabar {
  width: 100vw;
  height: 100vh;
  padding: 30px 60px 50px 60px;

  .nav-container {
    display: flex;
    justify-content: space-between;

    .menu {
        ul {
            padding: 0;
            display:flex;
            list-style: none;
            gap: 20px;

            li {
                margin: 0;
                padding: 0;
            }
        }

    }

    .lainnya {
        align-items: center;
        img {

        }
    }
  }
}

