.kabar {
  width: 100vw;
  height: 100vh;
  padding: 30px 60px 50px 60px;

  .nav-container {
    display: flex;
    justify-content: space-between;

    .menu {
      ul {
        padding: 0;
        display: flex;
        list-style: none;
        gap: 20px;

        li {
          margin: 0;
          padding: 0;
        }
      }
    }

    .lainnya {
      align-items: center;
      img {
      }
    }
  }

  .content {
    .img-container {
      overflow: hidden;
      display: inline-block;

      img {
        background-size: cover;
        transition: all 1.1s;
      }
      &:hover img {
        transform: scale(1.2);
      }
    }
  }
  .card-kabar {
    .image {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(
          0,
          0,
          0,
          0.6
        );
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &:hover .overlay {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }
  }
}
