/* PHONE  */
@media (max-width: 425px) {
  .komen {
    padding: 60px 20px;
    min-height: 600px;
    max-height: 600px;
    /* padding: 30px 20px 50px 20px; */

    .nav {
      h3 {
        font-size: 17px;
        line-height: 120%;
        letter-spacing: -0.24px;
        /* white-space: nowrap; */
      }
    }

    .slider-comment-wrapper {
      .komenContainer {
        /* max-height: 150px;
        min-height: 150px; */
        height: fit-content;

        p {
          font-size: 18px;
          line-height: 160%;
        }
        a {
          font-size: 15px;
        }

        .sender {
          img {
            width: 40px;
            height: 40px;
          }

          .nameContainer {
            .name {
              font-size: 12px;
            }
            .wali,
            span {
              font-size: 13px;
            }
          }
        }
      }
    }

    .nav-slider-phone {
      width: 100%;
      justify-content: end;
      gap: 20px;

      .arrow {
        background: #d8d8d8;
        width: 35px;
        height: 35px;

        &:hover {
          background: #feb700;
        }

        i {
          display: flex;
          align-items: center;
          color: white;
          font-size: 15px;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .komen {
    padding: 60px 40px;
    min-height: 450px;
    max-height: 450px;
    /* padding: 30px 30px 50px 30px; */

    .nav {
      h3 {
        font-size: 19px;
        line-height: 120%;
        letter-spacing: -0.24px;
        white-space: nowrap;
      }
      .nav-slider {
        /* width: 100%; */
        /* justify-content: end; */
        gap: 20px;

        .arrow {
          background: #d8d8d8;
          width: 30px;
          height: 30px;

          &:hover {
            background: #feb700;
          }

          i {
            display: flex;
            align-items: center;
            color: white;
            font-size: 15px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .slider-comment-wrapper {
      .komenContainer {
        /* max-height: 150px;
        min-height: 150px; */
        height: fit-content;

        p {
          font-size: 20px;
          line-height: 160%;
        }
        a {
          font-size: 15px;
        }
        img {
          width: 45px;
          height: 45px;
        }
        .sender {
          .nameContainer {
            .name {
              font-size: 15px;
            }
            .wali,
            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .komen {
    padding: 80px 60px;
    min-height: 400px;
    max-height: 550px;

    .nav {
      h3 {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.24px;
        white-space: nowrap;
      }

      .nav-slider {
        gap: 20px;

        .arrow {
          background: #d8d8d8;
          width: 35px;
          height: 35px;

          &:hover {
            background: #feb700;
          }

          i {
            display: flex;
            align-items: center;
            color: white;
            font-size: 15px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .slider-comment-wrapper {
      .komenContainer {
        height: fit-content;

        p {
          font-size: 25px;
          line-height: 160%;
        }
        a {
          font-size: 20px;
        }

        img {
          width: 60px;
          height: 60px;
        }

        .sender {
          .nameContainer {
            .name {
              font-size: 20px;
            }
            .wali,
            span {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}