
.hamburger-active > span:nth-child(1) {
  transform: translateX(20%) rotate(45deg);
  transform-origin: top left;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform: translateX(20%) rotate(-45deg);
  transform-origin: bottom left;
}

/* PHONE  */
@media (max-width: 425px) {
  .navbar {
    position: absolute !important;
    top: 0;
    padding: 10px 20px !important;
  
    .navbarContent {
      display: flex;
      justify-content: space-between;
  
      .logoSMA {
        width: 50px;
      }
      .text-logo {
        display: none;
      }

      .buttonMenu {
          gap: 10px;

          .search {
            width: 18px;
          }
  
        button {
          border-radius: 10px;
          color: white;
          /* line-height: 100%; */
          padding: 5px 12px;
          font-size: 10px;
          margin: 0;
  
          &.PPDB {
            background: transparent;
            border: 1px solid white;
          }
  
          &.Menu {
            background: #0f0f0f;
            border: 0;
            display: flex;
            align-items: center;
            gap: 10px;
  
            .hamburger {
              display: block;
              align-items: center;
              text-align: center;
              /* border: 1px solid white; */
              padding: 8px 0;
              border-radius: 10px;
  
              &.active {
                border: 1px solid black;
              }
            }
  
            .hamburger-line {
              width: 12px;
              height: 1px;
              display: block;
              background-color: white;
            }
          }
        }
      }
    }
  
    .navbarActive {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      gap: 10px;
  
      ul {
        width: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
  
        li {
          width: fit-content;
          color: white;
          line-height: 120%;
          padding: 7px 0;
          font-size: 16px;
          cursor: pointer;
  
          &:hover {
            color: #ba55f3;
          }
        }
      }
  
      .profilMenu {
        ul {
          li {
            width: fit-content;
          color: white;
          line-height: 120%;
          padding: 7px 0;
          font-size: 16px;
          cursor: pointer;
          }
        }
      }
    }
  }
  
}

/* TABLET  */
@media (min-width: 426px) {
  .navbar {
    position: absolute !important;
    top: 0;
    padding: 20px 40px !important;
  
    .navbarContent {
      display: flex;
      justify-content: space-between;
  
      .buttonMenu {
          gap: 20px;
  
        button {
          border-radius: 10px;
          color: white;
          line-height: 140%;
          padding: 12px 25px;
  
          &.PPDB {
            background: transparent;
            border: 2px solid white;
          }
  
          &.Menu {
            background: #0f0f0f;
            border: 0;
            display: flex;
            align-items: center;
            gap: 15px;
  
            .hamburger {
              display: block;
              align-items: center;
              text-align: center;
              border: 1px solid white;
              padding: 8px;
              border-radius: 10px;
  
              &.active {
                border: 1px solid black;
              }
            }
  
            .hamburger-line {
              width: 15px;
              height: 2px;
              display: block;
              background-color: white;
            }
          }
        }
      }
    }
  
    .navbarActive {
      margin-top: 20px;
      width: 100%;
      display: flex;
      padding: 20px 0;
      gap: 20px;
  
      ul {
        width: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
  
        li {
          width: fit-content;
          color: white;
          line-height: 120%;
          padding: 7px 0;
          font-size: 20px;
          cursor: pointer;
  
          &:hover {
            color: #ba55f3;
          }
        }
      }
  
      .profilMenu {
        ul {
          li {
            width: fit-content;
            display: flex;
            align-items: center;
            line-height: 160%;
            padding: 7px 0;
            font-size: 15px;
            gap: 10px;
          }
        }
      }
    }
  }
  
}

/* LAPTOP  */
@media (min-width: 769px) {
  .navbar {
    position: absolute !important;
    top: 0;
    padding: 20px 40px !important;
  
    .navbarContent {
      display: flex;
      justify-content: space-between;
  
      .buttonMenu {
          gap: 20px;
  
        button {
          border-radius: 10px;
          color: white;
          line-height: 140%;
          padding: 12px 25px;
  
          &.PPDB {
            background: transparent;
            border: 2px solid white;
          }
  
          &.Menu {
            background: #0f0f0f;
            border: 0;
            display: flex;
            align-items: center;
            gap: 15px;
  
            .hamburger {
              display: block;
              align-items: center;
              text-align: center;
              border: 1px solid white;
              padding: 8px;
              border-radius: 10px;
  
              &.active {
                border: 1px solid black;
              }
            }
  
            .hamburger-line {
              width: 15px;
              height: 2px;
              display: block;
              background-color: white;
            }
          }
        }
      }
    }
  
    .navbarActive {
      /* margin-top: 10px; */
      width: 100%;
      display: flex;
      padding: 20px 0;
  
      ul {
        width: 30%;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
  
        li {
          width: fit-content;
          color: white;
          line-height: 120%;
          padding: 7px 0;
          font-size: 22px;
          cursor: pointer;
  
          &:hover {
            color: #ba55f3;
          }
        }
      }
  
      .profilMenu {
        ul {
          li {
            width: fit-content;
            display: flex;
            align-items: center;
            line-height: 180%;
            padding: 7px 0;
            font-size: 15px;
            gap: 10px;
          }
        }
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}