/* PHONE  */
@media (max-width: 425px) {
  .sosmed {
    padding: 30px 20px 50px 20px;

    .atas {
      /* flex-direction: column; */

      .col-mode-phone {
        display: flex;
      }

      .card-post {
        overflow: hidden;
        /* min-height: 290px;
        max-height: 290px; */

        .desc-whatsapp {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 150px;
          max-height: 150px;

          p,
          span {
            line-height: 140%;
            letter-spacing: -0.24px;
            font-size: 13px;
          }

          .account {
            a {
              line-height: 14px;
              font-size: 10px;
            }
          }
        }
      }

      /* .wa-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .card-wa {
          padding: 10px 15px;
          background: #fafafa;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            line-height: 20px;
            font-size: 13px;
          }
        }
      } */

      .overlay {
        img {
          width: 15px;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .bawah {
      .youtube-container {
        .youtube-post {
          object-fit: cover;
          max-height: 200px;
          min-height: 200px;
        }

        h4 {
          font-size: 18px;
        }
      }

      .facebook-container {
        .facebook-post {
          object-fit: cover;
          max-height: 200px;
          min-height: 200px;
        }

        p {
          font-size: 13px;
        }
      }
    }

    .account {
      img {
        width: 13px;
        height: 13px;
      }
      a {
        font-size: 10px;
        cursor: pointer;
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 20px;
      }
    }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }
      img {
        width: 12px;
      }
    }
  }
}

/* TABLET  */
@media (min-width: 426px) {
  .sosmed {
    padding: 30px 30px 50px 30px;

    .atas {
      /* flex-direction: column; */

      .col-mode-phone {
        display: flex;
      }

      .card-post {
        /* padding: 5px; */
        overflow: hidden;
        /* min-height: 290px;
            max-height: 290px; */

        .desc-whatsapp {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 150px;
          max-height: 150px;
        }

        p,
        span {
          line-height: 14px;
          font-size: 11px;
        }

        .account {
          a {
            line-height: 14px;
            font-size: 10px;
          }
        }
      }
    }

    .bawah {
      .youtube-container {
        .youtube-post {
          object-fit: cover;
          max-height: 200px;
          min-height: 200px;
        }

        h4 {
          font-size: 18px;
        }
      }

      .facebook-container {
        .facebook-post {
          object-fit: cover;
          max-height: 200px;
          min-height: 200px;
        }

        p {
          font-size: 13px;
        }
      }
    }

    .account {
      img {
        width: 13px;
        height: 13px;
      }
      a {
        font-size: 10px;
        cursor: pointer;
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 20px;
      }
    }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }
      img {
        width: 12px;
      }
    }
  }
}

/* LAPTOP  */
@media (min-width: 769px) {
  .sosmed {
    padding: 80px 60px;

    .atas {
      /* flex-direction: column; */

      .col-mode-phone {
        display: flex;
      }

      .card-post {
        overflow: hidden;

        .desc-whatsapp {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 150px;
          max-height: 150px;
        }

        p,
        span {
          line-height: 25px;
          font-size: 15px;
        }

        .account {
          a {
            line-height: 14px;
            font-size: 13px;
          }
        }
      }

      .overlay {
        img {
          width: 15px;
        }

        p {
          font-size: 13px;
        }
      }
    }

    .bawah {
      .youtube-container {
        .youtube-post {
          object-fit: cover;
          max-height: 250px;
          min-height: 250px;
        }

        h4 {
          font-size: 20px;
        }
      }

      .facebook-container {
        .facebook-post {
          object-fit: cover;
          max-height: 250px;
          min-height: 250px;
        }

        p {
          font-size: 15px;
        }
      }
    }

    .account {
      img {
        width: 13px;
        height: 13px;
      }
      a {
        font-size: 10px;
        cursor: pointer;
        white-space: nowrap;
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 20px;
      }
    }

    .lainnya {
      p {
        color: #091e6f;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.24px;
      }
      img {
        width: 23px;
      }
    }
  }
}

/* LAPTOP L  */
@media (min-width: 1025px) {
}
