.beritaMain {
    .headline {
        h1 {
            font-size: 100px;
            line-height: 110%;
            letter-spacing: -8px;
        }

        p {
            font-size: 25px;
            letter-spacing: -0.24px;
        }

        .float-card {
            max-width: 40%;
            bottom: 20px;
            left: 20px;

            h5 {
                font-size: 13px;
                color: #861FC1;
                line-height: 110%;
                letter-spacing: -0.24px;
            }

            h3 {
                font-size: 25px;
                color: #272727;
                line-height: 120%;
                letter-spacing: -0.24px; 
            }

            p {
                font-size: 12px;
                color: #272727;
                line-height: 18px;
                letter-spacing: -0.24px; 
            }
        }
    }

    .info-terkini,
    .berita-lainnya {
        h5 {
            font-size: 13px;
            color: #861FC1;
            line-height: 110%;
            letter-spacing: -0.24px;
        }

        h3 {
            font-size: 20px;
            color: #272727;
            line-height: 120%;
            letter-spacing: -0.24px; 
        }

        p {
            font-size: 14px;
            color: #272727;
            line-height: 160%;
            letter-spacing: -0.24px; 
        }

        .ket {
            p {
                font-size: 12px;
                color: #272727;
                line-height: 18px;
                letter-spacing: -0.24px; 
            }
        }

        .unconnect {
            .image {
                background: #F9F9F9;
            }
        }

        .title-kanan {
            font-size: 17px; 
        }
    }

    .whatsapp-channel {
        a {
            font-size: 10px;
        }
    }
}