.kabarSekolah {
  .headline {
    h1 {
      font-size: 40px;
      line-height: 110%;
      letter-spacing: -4px;
    }

    p {
      font-size: 25px;
      letter-spacing: -0.24px;
    }
  }

  .content {
    .kabar-container {
      .card-kabar {
        .img-container {
        }
        .desc-container {
          h2 {
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.24px;
          }

          p {
            font-size: 16px;
            line-height: 160%;
            letter-spacing: -0.14px;
          }

          .ket {
            p {
              font-size: 11px;
            }

            .circle {
              width: 3px;
              height: 3px;
              margin-top: 6px;
            }
          }

          button {
            background: transparent;
            color: #861fc1;
            border: 1px solid #861fc1;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .page-indicator {
        button {
          background: transparent;
          border: none;
          color: black;
          opacity: 0.5;

          &:focus {
            outline: none;
          }

          &:hover {
            opacity: 1;
          }
        }

        .page-number {
          width: 30px;
          height: 30px;
          font-size: 15px;
          color: #3f3f46;
          background: transparent;

          &:hover {
            color: white;
            background: black;
          }
        }
      }
    }

    .arsip-container {
      h3 {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.24px;
      }
        .arsip-tahun {
          ul {
            li {
              cursor: pointer;
              color: #4F4F4F;
              border-left: 1px solid #C3C3C3;
              border-bottom: 1px solid #C3C3C3;
            }
          }
        }

        .ppdb-card {
          .containernya {
            padding: 20px 15px 0 15px;
      
            .content {
              flex-direction: column;
              justify-content: center;
              gap: 20px;
      
              .kiri {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                  font-size: 12px;
                }
      
                h3 {
                  line-height: 120%;
                  letter-spacing: -0.24px;
                  font-size: 25px;
                }
      
                button {
                  width: fit-content;
                  border: none;
                  outline: none;
                  letter-spacing: 140%;
                  font-size: 12px;
                  background: #feb700;
                  font-weight: semibold;
                  padding: 10px 12px;
                  cursor: pointer;
                }
              }
              img {
                display: flex;
                max-width: 250px;
              }
            }
          }
        }
    }
  }
}
