.sambutanPage {
    color: #161616;
    padding: 70px 30px;

    h3 {
        font-size: 30px;
        line-height: 160%;
    }
    p {
        font-size: 18px;
        line-height: 160%;
    }

    .nextPage {
        a {
            color: #161616;
            font-size: 15px;
        }
        
    }
}